*{
    margin: 0;
    padding: 0;
}
.grid {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
}
.row{
    align-items: center;
    justify-content: center;
}

/* .colomn:hover{
    background-color: rgb(109, 243, 120);
    background: none;
} */

.colomn {
    background: none;
    border:2px solid black;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}

#over {
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    color: red;
}

.reset {
    border-radius: .5rem;
    display: flex;
    margin: 1rem auto;
    padding: .4rem;
    font-size: 1.52rem;
    background-color: yellowgreen;
    border: 2px solid black;
}

.reset:hover {
    background-color: rgb(130, 77, 179);
}
/* #hey {
    color: black;
    font-size: 5rem;
} */

.yellow {
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    margin: 1rem;
    /* color: yellow; */
}

.head {
    text-align: center;
    color: rgb(132, 0, 255);
    background-color: rgb(204, 223, 239);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    text-shadow: black;
}